RewriteEngine On
RewriteRule ^p/(.*)$ /problem.php?p=$1 [L]
RewriteRule ^l/u-(.*)/all$ /problem_list.php?u=$1&list=all [L]


# pages with .php prefix
# this section should be near the end of the file
